<?xml version="1.0" encoding="UTF-8" ?>
<beans xmlns="http://www.springframework.org/schema/beans"
       xmlns:context="http://www.springframework.org/schema/context"
       xmlns:tx="http://www.springframework.org/schema/tx"
       xmlns:aop="http://www.springframework.org/schema/aop"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xsi:schemaLocation="http://www.springframework.org/schema/beans
       http://www.springframework.org/schema/beans/spring-beans.xsd
        http://www.springframework.org/schema/context
        http://www.springframework.org/schema/context/spring-context.xsd
        http://www.springframework.org/schema/tx
        http://www.springframework.org/schema/tx/spring-tx.xsd
        http://www.springframework.org/schema/aop
        http://www.springframework.org/schema/aop/spring-aop.xsd ">
    <!--配置customerDao-->
    <bean name="customerDao" class="com.afeng.dao.impl.CustomerDaoImpl" scope="prototype">
        <!--dao记得引入连接池和会话工厂-->
        <property name="sessionFactory" ref="sessionFactory"/>
    </bean>
    <!--配置customerService-->
    <bean name="customerService" class="com.afeng.service.impl.CustomerServiceImpl" scope="prototype">
        <property name="customerDao" ref="customerDao"/>
    </bean>

    <bean name="customerAction" class="com.afeng.web.action.CustomerAction" scope="prototype">
        <property name="customerService" ref="customerService"/>
    </bean>
    <!--spring整合hibernate-->
    <bean class="org.springframework.orm.hibernate5.LocalSessionFactoryBean" name="sessionFactory">
        <!--配置hibernate的配置文件-->
        <property name="hibernateProperties">
            <props>
                <prop key="hibernate.connection.driver_class">com.mysql.jdbc.Driver</prop>
                <prop key="hibernate.connection.url">jdbc:mysql:///crm</prop>
                <prop key="hibernate.connection.username">root</prop>
                <prop key="hibernate.connection.password">chenfeng980320</prop>
                <prop key="hibernate.hbm2ddl.auto">update</prop>
                <prop key="hibernate.current_session_context_class">thread</prop>
                <prop key="format_sql">true</prop>
                <prop key="hibernate.show_sql">true</prop>
                <prop key="hibernate.dialect">org.hibernate.dialect.MySQLDialect</prop>
            </props>
        </property>
        <!--引入orm元数据 只要导入上层包 spring会自动导入下面的包-->
        <property name="mappingDirectoryLocations" value="classpath:com/afeng/domain"/>
        <!--注入c3p0连接池-->
        <property name="dataSource" ref="dataSource"/>
    </bean>
    <!--引入c3p0连接池-->
    <!--读取配置文件-->
    <context:property-placeholder location="classpath:db.properties"/>
    <!--jdbc.driver_class=com.mysql.jdbc.Driver
        jdbc.jdbcUrl=jdbc:mysql:///crm
        jdbc.username=root
        jdbc.password=chenfeng980320-->
    <bean class="com.mchange.v2.c3p0.ComboPooledDataSource" name="dataSource">
        <property name="driverClass" value="${jdbc.driverClass}"/>
        <property name="jdbcUrl" value="${jdbc.jdbcUrl}"/>
        <property name="user" value="${jdbc.user}"/>
        <property name="password" value="${jdbc.password}"/>

    </bean>
    <!--配置核心事务管理器-->
    <bean class="org.springframework.orm.hibernate5.HibernateTransactionManager" name="transactionManager">
        <property name="sessionFactory" ref="sessionFactory"/>
    </bean>
    <!--&lt;!&ndash;配置事务通知&ndash;&gt;
    <tx:advice transaction-manager="transactionManager" id="txAdvice">
        <tx:attributes>
            <tx:method name="save*" isolation="REPEATABLE_READ" read-only="false"/>
            <tx:method name="update*" isolation="REPEATABLE_READ" read-only="false"/>
            <tx:method name="modify*" isolation="REPEATABLE_READ" read-only="false"/>
            <tx:method name="delete*" isolation="REPEATABLE_READ" read-only="false"/>
            <tx:method name="remove*" isolation="REPEATABLE_READ" read-only="false"/>
            <tx:method name="persist*" isolation="REPEATABLE_READ" read-only="false"/>
            <tx:method name="get*" isolation="REPEATABLE_READ" read-only="true"/>
            <tx:method name="find*" isolation="REPEATABLE_READ" read-only="true"/>
        </tx:attributes>
    </tx:advice>
    &lt;!&ndash;配置织入&ndash;&gt;
    <aop:config >
        &lt;!&ndash;"execution(* cn.itcast.service.impl.*ServiceImpl.*(..))"&ndash;&gt;
        <aop:pointcut id="txPointCut" expression="execution(* com.afeng.service.impl.*ServiceImpl.*(..))"/>
        <aop:advisor advice-ref="txAdvice" pointcut-ref="txPointCut"/>
    </aop:config>-->
    <!--开启注解-->
    <tx:annotation-driven transaction-manager="transactionManager" />








</beans>